@model IEnumerable<WebApplication1.Models.Feed>

@{
    ViewData["Title"] = "Index";
}

<h1>List of feed</h1>

<p>
    <a asp-action="Create">Add New Feed </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-controller="Home" asp-action="ArticlesFromFeed" asp-route-feedId="@item.FeedId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>

                <td> <a asp-controller="Home"  asp-action="ArticlesFromFeed" asp-route-feedId="@item.FeedId">@Html.DisplayFor(modelItem => item.Url)</a></td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FeedId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FeedId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FeedId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
